<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> STATES</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/elements">Elements</a></li>
                    <li><i class="fa fa-square-o"></i>Stocks</li>
                </ol>
            </div>
        </div>
    <div class="container" style="width: 70%">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Stock Information
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Id</label>
                            <div class="col-sm-6">
                                <p class="form-control-static" th:text="${stock.id}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Company: </label>
                            <div class="col-sm-6">
                                <p class="form-control-static" th:text="${stock.company.name}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Symbol</label>
                            <div class="col-sm-6">
                                <p class="form-control-static" th:text="${stock.symbol}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Price</label>
                            <div class="col-sm-6">
                                <p class="form-control-static" th:text="${stock.price}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4"> Variation</label>
                            <div class="col-sm-6">
                                <p class="form-control-static" th:text="${stock.variation}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Details</label>
                            <div class="col-sm-5">
                                <p class="form-control-static" th:text="${stock.details}"></p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <a href="/elements/stocks" class="btn btn-warning">Exit</a>
                    </div>
                </section>
            </div>

        </div>

</div>

    </section>

</div>
</body>
</html>
