<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>
    <!--main content start-->
    <div layout:fragment="content">
        <section class="wrapper">
            <!--overview start-->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i><b style="color: #092f3d"> Mandacaru_broker</b></h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Dashboard</li>
                    </ol>
                </div>
            </div>


            <div class="row" style="background-color: #002a80; padding: 20px;">
                <!-- Coluna 1 -->
                <div class="col-lg-6 col-md-8 col-sm-3 col-xs-6" style="border-radius: 10px; padding: 20px; margin-bottom: 20px;">
                    <!-- Linha 1 -->
                    <div class="col-lg-12 col-md-12 col-sm-3 col-xs-6" style="text-align: center;">
                        <div class="col-lg-12 col-md-6 col-sm-3 col-xs-6" style="border-radius: 10px; padding: 20px; margin-bottom: 20px;">
                            <div class="info-box" style="border-radius: 10px; text-align: center;">
                                <i class="fa fa-line-chart" style="font-size: 60px; color: white;"></i>
                                <div class="count" style="color: white; font-size: 30px;">[[${stocksQ}]]</div>
                                <div class="title" style="color: white; font-size: 20px;">Stocks</div>
                            </div>
                        </div>
                    </div>

                    <!-- Linha 2 -->
                    <div class="col-lg-12 col-md-12 col-sm-3 col-xs-6" style="margin-top: 20px;">
                        <div class="col-md-4">
                            <div class="info-box" style="text-align: center; border-radius: 10px; padding: 20px;">
                                <div class="count" style="color: white; font-size: 30px;">[[${negativeVariationQ}]]</div>
                                <div class="title" style="color: white; font-size: 20px;">Stocks Down</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="info-box" style="text-align: center; border-radius: 10px; padding: 20px;">
                                <div class="count" style="color: white; font-size: 30px;">[[${positiveVariationQ}]]</div>
                                <div class="title" style="color: white; font-size: 20px;">Stocks on the Rise</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="info-box" style="text-align: center; border-radius: 10px; padding: 20px;">
                                <div class="count" style="color: white; font-size: 30px;">[[${neutralVariationQ}]]</div>
                                <div class="title" style="color: white; font-size: 20px;">Stocks Flat</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Coluna 2 -->
                <div class="col-lg-6 col-md-8 col-sm-3 col-xs-6">
                    <!-- Linha 1 -->
                    <div class="col-lg-12 col-md-6 col-sm-3 col-xs-6" style="border-radius: 10px; padding: 20px; margin-bottom: 20px;">
                        <div class="info-box" style="border-radius: 10px; text-align: center;">
                            <i class="fa fa-building" style="font-size: 60px; color: white;"></i>
                            <div class="count" style="color: white; font-size: 30px;">[[${companiesQ}]]</div>
                            <div class="title" style="color: white; font-size: 20px;">Companies</div>
                        </div>
                    </div>

                    <!-- Linha 2 -->
                    <div class="col-lg-12 col-md-6 col-sm-3 col-xs-6" style="border-radius: 10px; padding: 20px;">
                        <div class="info-box" style="border-radius: 10px; text-align: center;">
                            <i class="fa fa-user" style="font-size: 60px; color: white;"></i>
                            <div class="count" style="color: white; font-size: 30px;">[[${usersQ}]]</div>
                            <div class="title" style="color: white; font-size: 20px;">Users</div>
                        </div>
                    </div>
                </div>
            </div>





        </section>
    </div>
    <!--main content end-->
</body>

</html>
